<a href="https://colab.research.google.com/github/2303a51687/ADM_LAB./blob/main/LAB_06.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# LAB -06

In [33]:
import pandas as pd
from sklearn.preprocessing import LabelEncoder
from datetime import datetime

In [34]:
file_path ="/university_student.csv"
df = pd.read_csv(file_path)

In [35]:
df.head()

,Student ID,Gender,Date of Birth,Study Time,Grade,School Type,Absences,Math Score,Reading Score,Writing Score
0,1,Male,1996-12-03,11,D,Public,2,72,91,69
1,2,Female,2001-09-15,5,D,Private,0,66,58,62
2,3,Male,2002-08-09,8,A,Private,2,75,99,77
3,4,Male,1999-04-29,8,A,Private,3,57,76,97
4,5,Male,1995-06-11,9,B,Private,1,78,51,78

In [36]:
df['Date of Birth'] = pd.to_datetime(df['Date of Birth'])
df['Age'] = df['Date of Birth'].apply(lambda x: datetime.now().year - x.year)

In [37]:
df = pd.get_dummies(df, columns=['Gender', 'Study Time'], drop_first=True)

In [38]:
label_encoder = LabelEncoder()
df['Grade'] = label_encoder.fit_transform(df['Grade'])

In [39]:
print("Transformed Dataset:\n", df.head())

Transformed Dataset:
    Student ID Date of Birth  Grade School Type  Absences  Math Score  \
0           1    1996-12-03      3      Public         2          72
1           2    2001-09-15      3     Private         0          66
2           3    2002-08-09      0     Private         2          75
3           4    1999-04-29      0     Private         3          57
4           5    1995-06-11      1     Private         1          78

   Reading Score  Writing Score  Age  Gender_Male  Study Time_6  Study Time_7  \
0             91             69   29         True         False         False
1             58             62   24        False         False         False
2             99             77   23         True         False         False
3             76             97   26         True         False         False
4             51             78   30         True         False         False

   Study Time_8  Study Time_9  Study Time_10  Study Time_11  Study Time_12  \
0         False         False          False           True          False
1         False         False          False          False          False
2          True         False          False          False          False
3          True         False          False          False          False
4         False          True          False          False          False

   Study Time_13  Study Time_14  Study Time_15
0          False          False          False
1          False          False          False
2          False          False          False
3          False          False          False
4          False          False          False

In [21]:
df['Total Score'] = df['Math Score'] + df['Reading Score'] + df['Writing Score']

In [22]:
grouped_df = df.groupby('Grade').agg({'Total Score': ['mean', 'max', 'min'], 'Age': 'mean'})

In [23]:

print("\nGrouped and Aggregated Data:\n", grouped_df)

Grouped and Aggregated Data:
       Total Score                  Age
             mean  max  min       mean
Grade
0      232.535714  284  168  24.750000
1      215.500000  270  177  23.166667
2      230.428571  262  179  25.333333
3      227.304348  280  164  25.086957
4      210.062500  239  177  25.312500